*{
	margin: 0;
	padding: 0;
	border:0;
}
@keyframes navbarpopup{
	0%{
		position: absolute;
		top: calc(100vh + 50px);
		width: 300px;
		margin-left: -1000px;
		height: 50px;
		

	}
	80%{
		position: absolute;
		top: calc(100vh + 50px);
		width: 300px;
		margin-left: -300px;
		height: 50px;
		
	}
	100%{
		position: absolute;
		top: calc(100vh + 50px);
		width: 100vw;
		height: 50px;
		
	

	}
}
body{
	font-family: 'Yantramanav', sans-serif;

}
	
.areas{
	height: 100vh;
	width: 100vw;
}
#firstbox{
	background: black;

}
#secondbox{
	background: url("images/background.jpg");
	background-size: cover;
	height: calc(100vh + 40px)
}
#thirdbox{
	background: grey;
}
#title{
	position: absolute;
	top: calc(100vh + 38px);
	font-size: 60px;
	margin-left: 10%;
	color: white;
	letter-spacing: 10px;
	z-index: 2;

}
#subtitle{
	font-size: 20px;
	letter-spacing: 5px;
	
}
.titlelink:hover{
	text-decoration: none;
	color: white;
}

#navbarsecondbox{
	position: absolute;
	top: calc(100vh + 50px);
	width: 100vw;
	height: 50px;
	text-align: right;
	background: rgba(0,0,0,.2);
	animation: navbarpopup 3s ease-in 0s;
	display: flex;
	justify-content: flex-end;

}
.navbaritems{
	width: 80px;
	height: 100%;
	line-height: 50px;
	text-decoration: none;
	background: black;
	color: white;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 15px;

	
}
.navbaritems:hover, .navbaritems:active{
	color: rgb(255, 246, 210);
	background: black;
	font-size: 16px;
}

#content{
	display: flex;
	height: 100vh;
	color: rgb(255, 246, 210);

}
#aboutleft{
	flex:1;
	
}

#aboutright{
	flex:1;
}


#plot{
	float:right;
	width: 90%;
	margin-top: 20%;
	padding-right: 50px;
	font-size: 20px;
	line-height: 25px;
	text-align: center;
}
#criticquotes{
	float:right;
	width: 80%;
	margin-top: 10%;
	padding: 0 50px 0 50px;
	font-size: 40px;
	line-height: 30px;
	text-align: center;

}
.quoter{
	font-size: 20px;
	letter-spacing: 1px;
	float: right;
}
#starring{
	float:left;
	width: 80%;
	margin-top: 15%;
	padding-left: 30px;
	font-size: 8px;
	line-height: 30px;
	text-align: center;
	color: white;

}
#accolades{
	float:left;
	width: 80%;
	margin-top: 40%;
	padding-left: 30px;
	font-size: 20px;
	line-height: 30px;
	text-align: center;

}

.awardgroup{
	font-size: 50px;
	line-height: 37px;
}
.award{
	margin-top: -20px;
	line-height: 20px;
}

@media (max-width: 1000px){
	#title{
		position: absolute;
		top: calc(100vh + 51px);
		font-size: 30px;
		margin-left: 2%;
		color: white;
		letter-spacing: 10px;
		z-index: 2;

	}
	#subtitle{
		font-size: 7px;
		letter-spacing: 5px;
	}

}
@media (max-width: 1370px) and (min-width: 1000px) {
	#title{
		position: absolute;
		top: calc(100vh + 51px);
		font-size: 40px;
		margin-left: 4%;
		color: white;
		letter-spacing: 10px;
		z-index: 2;

	}
	#subtitle{
		font-size: 10px;
		letter-spacing: 5px;
	}

}
.modalDialog {
	font-family: 'Yantramanav', sans-serif;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
	z-index: 12;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	font-family: 'Yantramanav', sans-serif;
	text-align: center;
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 15px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: rgb(190,40,40); }